# Pandas

This section is all about the package, Pandas. Are you ready? Let's go!

You will find some small tasks in sections below. Most codes are hidden and you can only see the output.

> Try to figure out by yourself, or search for references. Being able to search and find information needed is an important skill that benefits you and your career for a long time.

## Set up the environment

### Task: import pandas, and name it as pd

In [1]:
# Your code is here
import pandas as pd

## Data Creation

### Task
Find the data [here](https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)) for the GDP (nomial). For the top **10** countries, create a dataframe that has the names of country, the GDP of the country in 2021 (reported in 2022) by IMF in dollars , the population of the country (you can find the data [here](https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population))

In [10]:
# Your code is here
GDP = pd.DataFrame({'Country':['United States','China','Japan','Germany','India','United Kingdom','France','Russia','Canada','Italy'],
                    'GDP':[25_462_700_000_000,17_963_200_000_000,4_231_140_000_000,4_072_190_000_000,3_385_090_000_000,3_070_670_000_000,2_782_910_000_000,2_240_420_000_000,2_139_840_000_000,2_010_430_000_000],
                    'Population':[338_289_857,1_425_887_337,123_951_692,83_369_843,1_417_173_173,67_508_936,64_626_628,144_713_314,38_454_327,59_037_474]})

print(GDP.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     10 non-null     object
 1   GDP         10 non-null     int64
 2   Population  10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes
None

## Data Accessing

### Task: List the countries and their GDP

In [11]:
# Your code is here
display(GDP[['Country','GDP']])

          Country             GDP
0   United States  25462700000000
1           China  17963200000000
2           Japan   4231140000000
3         Germany   4072190000000
4           India   3385090000000
5  United Kingdom   3070670000000
6          France   2782910000000
7          Russia   2240420000000
8          Canada   2139840000000
9           Italy   2010430000000

### Task: List the countries and their population

In [13]:
# Your code is here
display(GDP[['Country','Population']])

          Country  Population
0   United States   338289857
1           China  1425887337
2           Japan   123951692
3         Germany    83369843
4           India  1417173173
5  United Kingdom    67508936
6          France    64626628
7          Russia   144713314
8          Canada    38454327
9           Italy    59037474

### Task: List the first country with its GDP and population

In [16]:
# Your code is here
print(GDP.loc[0])

Country        United States
GDP           25462700000000
Population         338289857
Name: 0, dtype: object

## Data Selection

### Task: Show the countries whose GDP is more than 5 trillion dollars
> (Hint: the data source has US$ Million as a unit, hence you need to choose GDP > 5,000,000 unit)

In [21]:
# Your code is here
display(GDP[GDP['GDP'] > 5_000_000_000_000])

         Country             GDP  Population
0  United States  25462700000000   338289857
1          China  17963200000000  1425887337

### Task: Show the countries whose GDP is more than 3 trillion dollars

In [22]:
# Your code is here
display(GDP[GDP['GDP'] > 3_000_000_000_000])

          Country             GDP  Population
0   United States  25462700000000   338289857
1           China  17963200000000  1425887337
2           Japan   4231140000000   123951692
3         Germany   4072190000000    83369843
4           India   3385090000000  1417173173
5  United Kingdom   3070670000000    67508936

### Task: Show the countries whose pupulation is more than 1 billion

In [23]:
# Your code is here
display(GDP[GDP['Population'] > 1_000_000_000])

  Country             GDP  Population
1   China  17963200000000  1425887337
4   India   3385090000000  1417173173

### Task: Show the countries whose pupulation is less than 300 million

In [24]:
# Your code is here
display(GDP[GDP['Population'] < 300_000_000])

          Country            GDP  Population
2           Japan  4231140000000   123951692
3         Germany  4072190000000    83369843
5  United Kingdom  3070670000000    67508936
6          France  2782910000000    64626628
7          Russia  2240420000000   144713314
8          Canada  2139840000000    38454327
9           Italy  2010430000000    59037474

### Task: Show the countries whose pupulation is between 300 million and 500 million

In [31]:
# Your code is here
display(GDP[(GDP['Population'] > 300_000_000) & (GDP['Population'] < 500_000_000)])

         Country             GDP  Population
0  United States  25462700000000   338289857

## Data Manipulation

### Task: Create a new column, called "GDP per capita", based on the column "GDP" and the column "Population"

In [34]:
# Your code is here
GDP['GDP per capita'] = GDP['GDP'] / GDP['Population']
display(GDP)

          Country             GDP  Population  GDP per capita
0   United States  25462700000000   338289857    75268.883985
1           China  17963200000000  1425887337    12597.909760
2           Japan   4231140000000   123951692    34135.395264
3         Germany   4072190000000    83369843    48844.880276
4           India   3385090000000  1417173173     2388.621281
5  United Kingdom   3070670000000    67508936    45485.385816
6          France   2782910000000    64626628    43061.352358
7          Russia   2240420000000   144713314    15481.782139
8          Canada   2139840000000    38454327    55646.273565
9           Italy   2010430000000    59037474    34053.455607

## Data Understanding

### Task: With the three numeric columns, show the statsitics of each:


1.   Count
1.   Max
1.   Min
1.   Mean
1.   Median
1.   Quantiles
1.   25% Quantile
1.   50% Quantile
1.   75% QUantile
1.   Variance
1.   Std
1.   Total

In [35]:
# Your code is here

In [36]:
display(GDP.describe())

                GDP    Population  GDP per capita
count  1.000000e+01  1.000000e+01       10.000000
mean   6.735859e+12  3.763013e+08    36696.394005
std    8.124487e+12  5.574648e+08    21943.471608
min    2.010430e+12  3.845433e+07     2388.621281
25%    2.376042e+12  6.534720e+07    20124.700506
50%    3.227880e+12  1.036608e+08    38598.373811
75%    4.191402e+12  2.898957e+08    48005.006661
max    2.546270e+13  1.425887e+09    75268.883985

In [39]:
print(GDP[['GDP','Population','GDP per capita']].var())

GDP               6.600729e+25
Population        3.107670e+17
GDP per capita    4.815159e+08
dtype: float64

In [40]:
print(GDP[['GDP','Population','GDP per capita']].sum())

GDP               6.735859e+13
Population        3.763013e+09
GDP per capita    3.669639e+05
dtype: float64